<template>
    <h1>{{ text }}- {{ size }}</h1>
</template>

<script>
    import {mixinProps} from '../props'

    export default {
        mixins:  [ { props : mixinProps } ],
        props: {
            text: {
                type: String,
                default: 'Default Text'
            },
            activated: {
                type: Function,
                default: () => {}
            }
        },
        name: 'text-component',
        data: function () {
            return {
                x: 12
            }
        },
        activated: function (data) {
            console.log(data);
        }
    }
</script>