<template>
    <div id="wrapper">
        <!--<img id="logo" src="~@/assets/logo.png" alt="electron-vue">-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <main class="_container-fluid">
            <div class="row main-row">
                <div class="col-md-2">
                    <h4>Widgets</h4>
                    <hr>
                    <!--<transition-group>-->
                    <!--<drag v-for="item in components" :key="item.id">
                        <i class="fa fa-5x" :class="item.icon"></i>
                    </drag>-->
                    <drag v-for="item in components" class="drag widget col-md-6"
                          :key="item.id"
                          :transfer-data="{ item }"
                          @dragstart="dragging = item"
                          @dragend="dragging = null">
                        <i class="fa fa-5x" :class="item.icon" :title="item.title"></i>
                    </drag>
                    <!--</transition-group>-->
                </div>

                <div class="col-md-8 work-space">
                    <drop class="drop allow"
                          @dragover="handleDragover($event)"
                          @drop="handleDrop"
                          id="work-zone"
                    >
                        <div v-for="(widget, i) in app" class="row">
                            <vue-draggable-resizable class="col-md-auto"
                                                     :parent="false"
                                                     :key="'widget- ' + i"
                                                     :grid="[10,10]"
                                                     @activated="handleWidgetActivated(widget, i)"
                                                     @deactivated="handleWidgetDeactivated(widget, i)">
                                <component :is="widget.item.component" v-bind="getActiveProps(widget, i)"></component>
                            </vue-draggable-resizable>
                        </div>
                    </drop>

                </div>

                <div class="col-md-2 properties drop allow" @mousedown="preventWidgetUnselect">
                    <h3>Properties</h3>
                    <div class="row" v-for="(i, prop) in activeProps">
                        <div class="col">
                            {{ prop }}
                            <input type="text"  class="form-control" v-model="activeProps[prop]">
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    import SystemInformation from './LandingPage/SystemInformation'
    import VueDraggableResizable from 'vue-draggable-resizable/src/index'
    import draggable from 'vuedraggable'
    import Vue from 'vue';
    import { Drag, Drop } from 'vue-drag-drop';
    import TextComponent from './Widgets/Text.vue'
    import ParagraphComponent from './Widgets/Paragraphe.vue'

    export default {
        name: 'landing-page',
        data: function () {
            return {
                groups: ['A'],
                dragging: null,
                components: [
                    {
                        id: 'text',
                        title: 'Text',
                        icon: 'fa-font',
                        component: TextComponent,
                    },
                    {
                        id: 'div',
                        title: 'Div',
                        icon: 'fa-puzzle-piece'
                    },
                    {
                        id: 'p',
                        title: 'p',
                        icon: 'fa-address-card'
                    },
                    {
                        id: 'span',
                        title: 'span',
                        icon: ' fa-paragraph',
                        component: ParagraphComponent,
                    }
                ],
                app: [],
                activeProps: {},
                componentsProps: {}
            }
        },
        components: { SystemInformation, draggable, Drag, Drop,
            TextComponent,
            ParagraphComponent,
            VueDraggableResizable
        },
        computed: {
        },
        methods: {
            getActiveProps: function (widget, pos) {
                return this.componentsProps[pos]
            },
            preventWidgetUnselect: function (e) {
                e.cancelBubble = true;
                e.stopPropagation();
            },
            open (link) {
                this.$electron.shell.openExternal(link)
            },
            handleDragover(group, data, event) {
                return;
                if (group !== data.group) {
                    event.dataTransfer.dropEffect = 'none';
                }
            },
            handleDrop(data) {
                if(data) {
                    this.app.push(data);
                }
            },

            handleWidgetActivated: function (widget, pos) {
                if(this.componentsProps[pos]) {
                    this.activeProps = this.componentsProps[pos];
                    return;
                }
                let props = widget.item.component.props;
                Object.assign(props, widget.item.component.mixins[0].props)
                for(let item in props) {
                    if(item === 'component') {
                    } else {
                        this.componentsProps[pos] = this.componentsProps[pos] || {}
                        Vue.set(this.componentsProps[pos], item, props[item].default)
                    }
                }
                this.activeProps = this.componentsProps[pos];
            },

            handleWidgetDeactivated: function (widget) {
                this.activeProps = {};
            }
        },
        mounted: function () {
            setTimeout(() => {
                let elts = document.documentElement.getElementsByClassName('properties');
                for (let i=0;i<elts.length; i++) {
                    elts[i].addEventListener('mousedown', function (e) {
                        e.stopPropagation();
                        e.stopImmediatePropagation();
                        //e.cancelBubble = true;
                        return false;
                    }, true)
                }
            })
        }
    }
</script>

<style>
    .drag.widget {

    }
    .main-row {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 55px 0 0;
    }
    .work-space {
        background-size: 10px 10px;
        background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
        width: 100%;
        height: 100%;
    }
    .drag, .drop {
        display: inline-block;
    }
    .drop.allowed {
        background-color: #dfd;
    }

    .work-space .drop{
        width: inherit;
        height: inherit;
    }
</style>

<!--<style>
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body { font-family: 'Source Sans Pro', sans-serif; }

    #wrapper {
        background:
                radial-gradient(
                        ellipse at top left,
                        rgba(255, 255, 255, 1) 40%,
                        rgba(229, 229, 229, .9) 100%
                );
        height: 100vh;
        padding: 60px 80px;
        width: 100vw;
    }

    #logo {
        height: auto;
        margin-bottom: 20px;
        width: 420px;
    }

    main {
        display: flex;
        justify-content: space-between;
    }

    main > div { flex-basis: 50%; }

    .left-side {
        display: flex;
        flex-direction: column;
    }

    .welcome {
        color: #555;
        font-size: 23px;
        margin-bottom: 10px;
    }

    .title {
        color: #2c3e50;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .title.alt {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .doc p {
        color: black;
        margin-bottom: 10px;
    }

    .doc button {
        font-size: .8em;
        cursor: pointer;
        outline: none;
        padding: 0.75em 2em;
        border-radius: 2em;
        display: inline-block;
        color: #fff;
        background-color: #4fc08d;
        transition: all 0.15s ease;
        box-sizing: border-box;
        border: 1px solid #4fc08d;
    }

    .doc button.alt {
        color: #42b983;
        background-color: transparent;
    }
</style>-->
